#header{
background-color:#white;
position:abosolute;
left:0px;
top: 0px;
}
.midrow{
height:700px;
}


#instructions{
background-color:whitesmoke;
width:450px;
border:8px double #7b869a;
float:left;
overflow-y: scroll;
}
#workspace{
background-color:#EEEEEE;
width:1200px;
position: absolute;
left: 480px;
top: 100px;

}
#footer{
background-color:white;
clear:both;height:100px; 
text-align:left;
position: absolute;
top: 810px;
}

button{
font-size: 1.5em;
}

.headerbtn{
top: 35px;
position: absolute;
}

.footerbtn{
bottom: 55px;
position: absolute;
left: 160px;
}

#narrowbtn{
left: 240px;
}

#widenbtn{
left: 345px;
}

#startoverbtn{
position: absolute;
bottom: 95px;
}

#undobtn{
}

#createbtn{
left: 305px;
font-size: 2em;
}

#rootmenu{
left: 482px;
border: 1px solid black;
position: absolute;
top: 705px;
}

#rootmenu button{
width: 225px;
}

.submenu{
left: 710px;
border: 1px solid black;
position: absolute;
top: 705px;

}
.submenu button{
width: 100%;
}
.workspace-target{
position: relative;
width: 100%;
background-color: #FFF;
overflow: auto;
height: 100%;
}

/** ELEMENTS **/
.window { 
	border:2px dotted #346789; 
	width:14em; 
	height:4em; 	
	line-height:4em;
	padding:0.5em; 	
}
.smallWindow { background-color:#558822; }


/** LARGE WINDOW STYLE AND POSITION **/
#sourceWindow1 { 
	background-color:#0d78bc; 
	top:9em;
	left: 14em;
	width:30em;
	height:6em;	
	text-align:left;
}

/** SMALL WINDOW POSITIONS **/
#targetWindow2 { top:29em; left:44em;}
#targetWindow3 { top:23em; left:2em; }
#targetWindow4 { top:31em; left:26em; }
#targetWindow5 {top:39em;left:13em; }
#targetWindow6 {top:21em;left:56em; }

/** JSPLUMB ARTEFACTS **/
._jsPlumb_endpoint { z-index:32; }